.home{
    background-color:pink;
}
.homeimg{
    width: 2000px;
    height:400px;
}
#h1{
text-align: center;
padding-top: 30px;
font-weight: 400;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#p1{
    text-align: center;  
    line-height: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    padding-bottom: 40px;
}
.card1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .card1{
    overflow: hidden;
    box-shadow: 1PX 4px 8px black;
  }
 
  .card1 img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card1 img:hover{
    transform: scale(1.1);
  }
.cakeimg-home{
  width: 100%;
  height: auto;
  display: block;
}
  .cakeimg-home:hover{
    transform: scale(1.1);
 
  }