/* .navbar{
  background-color:white;
  width: 100%;
position: sticky;
top: 0px;
height: 100px;
} */
.navbar{
  background-color:white;
}
.nav-link{
font-weight: 500;
justify-content: space-around;
align-items: center;
font-size: 17px;

}


.nav-link:hover{
    text-shadow:1px 1px 2px black;
    padding:5px;
 color: palevioletred;
}
.btn-nav{

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid palevioletred;
  background-color:palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/*    
.btn-nav:hover{
  background-color: aliceblue;
  color:black ;

  box-shadow: 3px 1px 2px black;

} */
.ordernow-button {
  background-color: palevioletred; 
  color: white; 
  border: none;
  font-weight: 700;
  padding: 2px;

  font-size: 15px;
  cursor: pointer; 
  border-radius: 40px;
 transition: 0.1s ease; 
}

.ordernow-button:hover {
  background-color:white;
 color: black;
 border: 1px solid palevioletred;
 box-shadow: 3px 1px 2px black;
}

.menubtn{
  color: palevioletred;
}
@media screen and (max-width: 992px) {
  /* CSS rules to apply when screen width is 576px or less */
  .searchbar {
    position:absolute;
    top: 11px;
    right: 110px;
  }
  .cart{
    position: absolute;
    top: 11px;
    right: 76px;
  }
  /* other styles specific for screens <= 576px */
}
